/* CSS declarations go here */

/* Make the Sign in font yellow */
.dropdown-toggle {
    color: yellow;
}

/* Move content so it is below the nav bar */
.content {
   margin: 80px 80px 0px 80px;

}

/* Horizontal divider */
.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

/* Vertical divider */
.v-divider {
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
    height: 100%;
    border-left: 1px solid gray;
}
